@-webkit-keyframes blink {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

.blink {
    -webkit-animation-name: blink;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -webkit-animation-duration: 1s;
}

i {
    margin-right: 5px;
}

.lead {
    font-size: 1rem;
    text-align: left;
}

h6 {
    margin: 10px;
    color: #999;
}

#footerInfo {
    font-size: 0.7em;
}

#linkResume {
  color: #FFFFFF;
}

#peace {
    vertical-align: 0;
    font-size: 1em;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.typed-cursor:after {
    display: inline-block;
    position: relative;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.masthead-brand:after {
    visibility: visible;
    content: '';
    background-color: white;
    display: inline-block;
    position: relative;
    width: 0.5em;
    height: 0.1em;
    top: 5px;
    margin-left: 0;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

#kaomojiTableThrow {
    font-size: 2rem;
}

#textInfo {
    font-family: Trebuchet MS;
}

#fourOfourSubtext {
    font-family: monospace;
    font-style: normal;
    font-size: 0.9rem;
}

#infoMessage {
    font-size: 0.8rem;
}